spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource   
    url: jdbc:mysql://127.0.0.1:3306/test1?characterEncoding=utf8
    driverClassName: com.mysql.jdbc.Driver
    username: root
    password: 123456
    #最大活跃数
    maxActive: 20
    #初始化数量
    initialSize: 1
    #最大连接等待超时时间
    maxWait: 60000
    #打开PSCache，并且指定每个连接PSCache的大小
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    #通过connectionProperties属性来打开mergeSql功能；慢SQL记录
    #connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 1 from dual
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    #配置监控统计拦截的filters，去掉后监控界面sql将无法统计,'wall'用于防火墙
    filters: stat, wall, log4j
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true 

  thymeleaf:  
      cache: false  
      #check-template: true  
      #check-template-location: true  
      prefix: classpath:/templates/  
      suffix: .html  
      encoding: UTF-8  
      content-type: text/html  
      mode: LEGACYHTML5 
  http: 
    encoding: 
      force: true
      charset: UTF-8
      enabled: true
server: 
  port: 80
  tomcat: 
    uri-encoding: UTF-8